
.smallArrow{
  display: inline-block;
  border:1px solid black;
  padding: 5px;
  height:60px;
  width:60px;
}

.mediumArrow{
  display: inline-block;
  border:1px solid black;
  padding: 5px;
  height:90px;
  width:90px;
}

.bigArrow{
  display: inline-block;
  border:1px solid black;
  padding: 5px;
  height:130px;
  width:130px;
}
