
/* Dots Counter (Container of the dots) */
.dotCounter{
  border:1px solid black;
  padding: 5px;
}

/* Individual Dots */
.smallDot{
  display: inline-block;
  height:10px;
  width:10px;
}

.mediumDot{
  display: inline-block;
  height:20px;
  width:20px;
}

.bigDot{
  display: inline-block;
  height:30px;
  width:30px;
}
